body{
    background-color: lightgoldenrodyellow;
}
h1{
    color: lightgray;
    padding: 20px;
    margin: 10px;
    background-color: lightsalmon;
}
p{
    color: lightsalmon;
    padding: 10px;
    background-color: lightgray;
}
.fixed{
    width: 300px;
}
.centered{
    margin: 0 auto;
}